body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #273c75;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #1f3c88;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

footer {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 10px;
}
.galeri-foto {
  display: flex;
  gap: 200px;
  flex-wrap: wrap;
}

.galeri-foto img {
  width: 15%;
  height:auto;
}
